@import "./colors.css";

@theme {
    --font-inter: Inter, sans-serif;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 20px;
    --text-2md: 22px;
    --text-4md: 24px;
    --text-2xl: 32px;
    --text-3xl: 40px;
    --text-4xl: 64px;
    --text-5xl: 80px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
